
.section-badge{

    display:inline-flex;

    padding:8px 16px;

    border-radius:50px;

    background: var(--color-Blue-Ribbon-50, #EEF5FF);
    border: 1px solid var(--color-Blue-Ribbon-100, #D8E9FF);


    color: var(--color-Blue-Ribbon-600, #155DFC);


    font-size:16px;

    font-weight:500;

}

.btn{

    display:inline-flex;

    align-items:center;

    gap:8px;

    padding:12px 24px;

    border-radius:999px;

    background:#155DFC;

    color:#fff;

}

.card{

    background:#fff;

    border:1px solid #E5E7EB;

    border-radius:16px;

    padding:32px;

}

.container{

    max-width:1335px;

    margin:auto;

}

@media (max-width :768px){
    .section-badge{
        padding: 8px 16px;
        font-size: 14;
        line-height: 100%;
    }
    
}