
.section-badge{

    display:inline-flex;

    padding:8px 16px;

    border-radius:50px;

    background: var(--color-Blue-Ribbon-50, #EEF5FF);
    border: 1px solid var(--color-Blue-Ribbon-100, #D8E9FF);


    color: var(--color-Blue-Ribbon-600, #155DFC);


    font-size:16px;

    font-weight:500;

}
/* =================================
   BASE BUTTON
================================= */
/* =================================
BASE BUTTON
================================= */

.connect-buttons{
    display:flex;
    align-items:center;
    gap:16px;
    margin-top:12px;
}
.connect::before{

    content:"";

    position:absolute;

    inset:0;

    background:url("../assets/images/dot_bg.png") center center;

    background-size:cover;

    background-repeat:no-repeat;

}

.btn-primary{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    gap: 7px;

    background: #155DFC;
    color: #fff;
    border: 1px solid transparent;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;

    padding: 8px 22px;
    border-radius: 42px;

    text-decoration: none;

}

.btn-primary image{
    width: 10px;

}


/* =================================
PRIMARY BUTTON
================================= */



.btn-primary:hover {
    background: #1745e0;
}


/* =================================
OUTLINE / WHITE BUTTON
================================= */

.btn-outline {
     display: inline-flex;
     min-height: 50px;
    align-items: center;
    justify-content: center;
    gap: 7px;

    background: #fff;
    color: #111827;
    border: 1px solid #155DFC;

    
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;

    padding: 8px 22px;
    border-radius: 42px;

    text-decoration: none;
}


.btn-outline:hover {
    background: #EEF4FF;
}



.card{

    background:#fff;

    border:1px solid #E5E7EB;

    border-radius:16px;

    padding:32px;

}

.container{

    max-width:1335px;

    margin:auto;

}

@media (max-width :768px){
    .section-badge{
        padding: 8px 16px;
        font-size: 14;
        line-height: 100%;
    }
    .btn-primary{
        font-size: 16px;
        line-height: 100%;
        min-height: 48px;
    }
    .btn-outline{
        font-size: 16px;
        line-height: 100%;
        min-height: 48px;

    }



}