.connect{
    width:100%;
    padding:80px 100px;
    background:linear-gradient(180deg,#F8F8F8 0%,#FFFFFF 50%);
    position: relative;
    overflow: hidden;
}


.connect-container{
    max-width:1335px;
    margin:auto;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;

    gap:24px;

    position:relative;
}

.connect h2{

    margin:0;

    font-size:48px;
    line-height:58px;
    font-weight:600;
    letter-spacing: 0%;

    color:rgba(34,34,34,1);

    max-width:760px;
}
.connect p{

    max-width:640px;

    margin:0;
    font-style: normal;

    font-size:18px;
    line-height:26px;
    font-weight: 400;
    letter-spacing: -3%;

    color: var(--color-neutral-900, rgba(34, 34, 34, 1));

}


/*==================================
CONNECT SECTION RESPONSIVE
===================================*/

/* Large Laptop */
@media (max-width:1400px){

    .connect{

        padding:70px 60px;

    }

    .connect h2{

        font-size:44px;

        line-height:54px;

    }

}


/* Laptop / Tablet Landscape */
@media (max-width:1024px){

    .connect{

        padding:70px 40px;

    }

    .connect-container{

        gap:20px;

    }

    .connect h2{

        font-size:40px;

        line-height:50px;

        max-width:680px;

    }

    .connect p{

        font-size:17px;

        line-height:26px;

    }

}


/* Tablet */
@media (max-width:768px){

    .connect{

        padding:60px 25px;

    }

    .connect h2{

        font-size:34px;

        line-height:44px;

    }

    .connect p{

        font-size:16px;

        line-height:25px;

    }

    .connect-buttons{

        gap:14px;

        flex-wrap:wrap;

        justify-content:center;

    }


}


/* Mobile */
@media (max-width:480px){

    .connect{

        padding:50px 20px;

    }

    .connect-container{

        gap:18px;

    }
    

    .connect h2{

        font-size:32px;
        font-weight:600;
        letter-spacing:-4%;

        line-height:40px;

    }

    .connect p{

        font-size:16px;

        line-height:24px;
        letter-spacing:-4%;
        font-weight:400;
        font-style:normal;
        font-family:'regular', sans-serif;

    }

    .connect-buttons{

        display:flex;

        justify-content:center;

        align-items:center;

        gap:12px;

        flex-wrap:nowrap;

        width:auto;

    }
   

}


/* Small Phones */
@media (max-width:360px){

    .connect{

        padding:40px 16px;

    }

    .connect h2{

        font-size:25px;

        line-height:34px;

    }

    .connect p{

        font-size:14px;

        line-height:22px;

    }

}